---
title: Ubuntu
---

<h1>Ubuntu</h1>

<p>Source: <a href="https://www.ubuntu.com/download/alternative-downloads">link</p>

<table class="pure-table pure-table-bordered">
    <thead>
    <tr>
        <th>Version</th>
        <th>Class</th>
        <th>Arch</th>
        <th>Link</th>
    </tr>
    </thead>
    <tbody>
<% @items.find_all('/ubuntu/*.torrent').each do |torrent| %>
        <tr>
        <td><%= torrent[:version] %></td>
        <td><%= torrent[:class] %></td>
        <td><%= torrent[:arch] %></td>
        <td><a class="pure-button" href="<%= torrent.path %>">Download Torrent</a></td>
        </tr>
        <% end %>
    </tbody>
</table>
